.scores{
    background-color: orange;
}

.timer{
    color: black;
    font-weight: bold;
    border-radius: 75px solid black;
    text-align: right;
    font-size: 35px;
}

.choice{
    background-color: aqua;
}

.answers{
    display: inline;
    padding-top: 15px;
}

#answerButtons {
    /* display: grid; */
    list-style-type: none;
    padding: 0; 
    margin-left: 0px;
    text-align: center;
}

.answers{
    border-top: 2px dotted grey;
    border-bottom: 2px dotted grey;
    margin: 0px 20px;
    font-size: 22px;
    padding: 3px;
  }

.answers:hover{
    background-color: lightgreen;
    color: darkslategray;
    cursor: pointer;
}

#quiz{
    background-color: darkblue;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    color: lightblue;
    text-align: center;
}

h1 {
    padding-top: 40px;
}

#timer{
    text-align: right;
}

#gameStart {
    display: block;
    align-content: center;
}

.start button {
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;;
}

#start-page {
    background-color: darkblue;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    color: lightblue;
    text-align: center;
}

#questions {
    padding-bottom: 24px;
}

#finish {
    background-color: darkblue;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    color: lightblue;
    text-align: center;
}

.hide {
    display: none;
}


/* .wrapper{
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
} */